<strong>Hello,  {{ student }} </strong>
<p>You purchased a new membership, check it out below:</p>
<p>
  <strong>Membership: </strong> {{ title }}. <br />
  <strong>Price: </strong> ${{ price }}/month. <br />
  <strong>Available from: </strong> {{ start_date }}. <br />
  <strong>To: </strong> {{ end_date }}. <br />
  <br />

  <small>
    Point to your future, go strong!
  </small>
</p>
